.button {
    background-color: #630606;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #FFF;
    cursor: pointer;
    margin: 32px 0;
}

.button:hover {
    background-color: #890f0d;
    color: #d9ce3f;
}
