.genres {
    text-align: center;
    padding: 32px;
}

.genres h3 {
    font-size: 32px;
    font-weight: 400;
    border-bottom: 4px solid #890f0d;
    display: inline-block;
    padding-bottom: 8px;
}

.genres .movies {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}