.footer {
    background-color: #630606;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.footer a {
    color: #FFF;
    text-decoration: none;
}

.footer a:hover {
    color: #d9ce3f;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}